* {
  background-color: rgb(140, 0, 255);
}
.card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  padding: 100px;
}

.card h1 {
  font-size: 50px;
  color: white;
  font-weight: 100;
}

.card p {
  font-size: 20px;
  color: whitesmoke;
}
